#chart-comparison-disease {
	position:relative;
	top:3px;
}

.axis path,
.axis line {
	fill:none;
	stroke:black;
	shape-rendering:crispEdges;
}

.axis text {
	font-size: 0.5em;
}

.chart-comparison-label {
	font-size: 0.8em;
}

#chart-map {
	padding:5px;
}

.map-labels {
	font-size: 0.5em;
	fill:#ECECEC;
}

.map-markers {
	font-size: 1.5em;
	opacity: 0.8;
}

.map-markers:hover {
	opacity: 1.0;
}